.center{
	text-align: center;
}
.size-img{
	width: 20%
}
.bg {
	background-color: #34495e;
}
.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.space {
    margin-right: 30px;
}

.btn{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
    border-color: #95a5a6;
    text-decoration: none;
}
body{
    background: url('../images/s2.jpeg') no-repeat center center fixed;
    /* Faz a imagem caber na tela */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}
.profile{
    border-radius: 50%;
    width: 20%;
    border: 5px solid white;